{{ define "main" }}
<div class="container">
  <article class="article">
    <header class="article__header">
      <h1 class="article__title">{{ .Title }}</h1>
      <div class="article__meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.tags }}
        <span class="tags">
          {{ range . }}
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/" class="tag">{{ . }}</a>
          {{ end }}
        </span>
        {{ end }}
      </div>
    </header>
    
    <div class="article__content">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
